*{
    padding: 0;
    margin: 0;
    font-family: Fredoka, sans-serif;
}

body {
    padding-top: 60px;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: #444;
    transition: 0.5s;
}

#titulo{
    color: #f79737;
}

a:hover{
    color: #f79737;
}

/* navbar */
#navbar {
    position: fixed; /* Fixa o navbar no topo da página */
    top: 0; /* Alinha o topo do navbar com o topo da página */
    left: 0; /* Alinha o lado esquerdo do navbar com o lado esquerdo da página */
    width: 100%; /* Garante que o navbar ocupe toda a largura da tela */
    background-color: #333; /* Escolha uma cor de fundo que combine com seu design */
    z-index: 1000; /* Garante que o navbar fique acima de outros elementos na página */
    box-shadow: 0 2px 5px rgba(0,0,0,0.3); /* Opcional: adiciona sombra para destacar o navbar */
}

#navbar-inner {
    padding: 10px 10px; /* Adiciona padding dentro do navbar */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#nav-links {
    list-style-type: none;
    padding: 0;
}

#nav-links li {
    display: inline;
}

#nav-links a {
    text-decoration: none;
    color: white;
    padding: 10px 15px;
    display: inline-block;
}

#nav-links a:hover {
    background-color: #555; /* Cor de fundo ao passar o mouse */
}
/* Conteúdo Principal */
.container{
    display: flex;
    padding: 2rem 2.5rem;
    gap: 3rem;
    max-width: 1200px;
    margin: 0 auto;
}

#post-container{
    flex: 3 1 0;
}

.post{
   margin-bottom: 2.5rem; 
}

.post img{
    width: 100%;
    margin-bottom: 1rem;
}

.title, 
.description,
.author,
.contato{
    margin-bottom: 1rem;
}

.title{
    font-size: 2rem;
}

.author{
    color: #333;
    font-weight: bold;
}

/* Barra Lateral */
#sidebar{
    flex: 1 1 0;
}

#search-bar,
#categories,
#tags,
#sobre_nos{
    padding: 1.5rem;
    border: 1px solid #ddd;
    margin-bottom: 1rem;
}

#search-bar h4,
#categories h4,
#tags h4,
#sobre_nos h4{
    margin-bottom: 1.5rem;
    font-size: 1.5rem;
}

#search-bar form{
    display: flex;
}

#search-bar input{
    padding: 0.5rem 1rem;
    border: 1px solid #ddd;
}

#search-bar input[type="submit"]{
    cursor: pointer;
    background-color: #f79737;
    color: #fff;
    border: none;
}

#categories li{
    margin-bottom: 1rem;
}

#tags-container{
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}

#tags-container a{
    background-color: #ddd;
    padding: 0.5rem 0.7rem;
    border-radius: 0.3rem;
}
/* Formulário */
#contact-form{
    width: 80%;
    max-width: 500px;
    margin: 20px auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    background: #ccc;
    border-radius: 0.8rem;
}

#contact-form h2{
    text-align: center;
}

#contact-form form{
    display: flex;
    flex-direction: column;
}

#contact-form label{
    margin-bottom: 5px;
    font-weight: bold;
}

#contact-form input[type="text"],
#contact-form input[type="email"],
#contact-form textarea{
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#contact-form button{
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#contact-form button:hover {
    background-color: #0056b3;
}

/* Footer (rodapé) */
#footer{
   border-top: 2px solid #ddd;
   padding: 3rem;
   text-align: center; 
}

#footer h2,
#footer p{
    margin-bottom: 1rem;
}

